
body{
    
    font-family: "Roboto", serif;
    font-weight:300;
    text-align: left;
    line-height: 1.33;
    font-size: 30px;
    width: 250px;
    text-wrap: balance;
}
.input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 8px;
}
.input-wrapper input{
    padding: 5px 8px;
    border-radius: 4px;
    border: 1px solid;
    width: 300px;
}
.input-wrapper label{
    font-size: 12px;
}